<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Tutor_RALG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControlador</display-name>
    <servlet-name>LoginControlador</servlet-name>
    <servlet-class>ralg.ulsa.controlador.LoginControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlador</servlet-name>
    <url-pattern>/LoginControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioControlador</display-name>
    <servlet-name>UsuarioControlador</servlet-name>
    <servlet-class>ralg.ulsa.controlador.UsuarioControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioControlador</servlet-name>
    <url-pattern>/Usuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjeCookiesServlet</display-name>
    <servlet-name>EjeCookiesServlet</servlet-name>
    <servlet-class>ralg.ulsa.controlador.EjeCookiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjeCookiesServlet</servlet-name>
    <url-pattern>/EjeCookiesServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioRegistroServlet</display-name>
    <servlet-name>FormularioRegistroServlet</servlet-name>
    <servlet-class>ralg.ulsa.controlador.FormularioRegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioRegistroServlet</servlet-name>
    <url-pattern>/FormularioRegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>ralg.ulsa.controlador.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
</web-app>